# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyInstaller
build/
dist/
*.spec

# Entornos virtuales
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
